/* Settings */

* {
    margin: 0;
    padding: 0;
}





/* CSS Line */

html {
    scroll-behavior: smooth;
}

.root {
    
    font-family: sans-serif;
    color: white;
}





/* main screen */

.main_screen {
    max-width: 100vw;
    min-height: 100vh;

    background-color: rgb(0, 0, 0);
    background: url(assets/main-bg.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px -40px 100px black;
}

/* nav bar */

nav {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 6em;

    background: rgba(0, 0, 0, 0.432);
}

.nav_leftside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -200px;
}

span.logo {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;

    /* margin-right: 100px; */
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 50px;

    font-size: 13px;
}

nav ul li a {
    color: white;
    text-decoration: none;

    margin: 0px 1.5rem;
}

.nav_rightside {
    display: flex;
    align-items: center;
}

.nav_rightside .sign{
    color: white;
    text-decoration: none;
    margin: 0 20px;

    font-size: 13px;
}

nav a:hover {
    color: rgb(252, 180, 47);
    text-decoration: underline;
}

nav img {
    display: none;
    width: 0;
    margin: 0 0px;
}

/* end of nav bar */

/* nav toggle */
.nav_option {
    width: 60vw;
    height: 120vh;
    position: fixed;
    top: -10px;
    right: -1000px;
}

.nav_option_expand {
    width: 60vw;
    height: 120vh;
    position: fixed;
    top: -10px;
    right: -1000px;
}
/* end of nav toggle */

/* main-content */

.main_content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.main_content h1 {
    font-size: clamp(2rem, 10vw, 4rem);
    letter-spacing: 5px;
    margin: 100px 30px 30px;
}

.main_content span {
    display: inline-block;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin: 30px;
}

a.mainbutton {
    color: black;
    text-decoration: none;
    background-color: rgb(255, 187, 0);
    margin: 20px auto;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;

    padding: 1rem 4.5rem;
}

/* end of main-content */

/* arrow */

a.the_story {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.the_story1 {
    font-size: 0.7rem;
    transition: transform 0.5s;
}

.the_story img {
    width: 20px;
    filter: invert(100%);
}

a.the_story:hover {
    transform: translate(0, -15px);
}

a.the_story:hover .the_story1 {
    transform: scale(1.3);
    color: rgb(252, 180, 47);
}

/* end of arrow */

/* end of main screen */





/* game choice */

.game_choice {
    max-width: 100vw;
    min-height: 100vh;

    background-image: url(assets/the-games-bg.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 20px 40px 100px black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.the_game {
    width: 20%;
    margin-top: -330px;
}

.game_choice .the_game span {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.game_choice .the_game h2 {
    font-weight: normal;
    font-size: clamp(2rem, 10vw, 3rem);
}

.choices {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
}

.choices a img {
    width: 20px;
    padding: 10px;
    transition: 0.2s;
}
.display {
    width: 90%;
}

.display img{
    width: 100%;
}

.choices a img:hover {
    transform: scale(1.2);
}

/* end of game choice */





/* features */

.features {
    max-width: 100vw;
    min-height: 100vh;

    background-image: url(assets/features.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.features_content {
    width: 25%;
    margin-right: 200px;
}

/* features header */
.features_header {
    width: 100%;
}

.features_header h2 {
    letter-spacing: 2px;
    font-weight: normal;
    font-size: clamp(2rem, 10vw, 3rem);
    margin-top: 10px;
}

.features_header span {
    letter-spacing: 2px;
    font-size: 1.2rem;
}

/* the main features */
.the_features {
    width: 100%;
    margin-top: 60px;
}

.feature_list {
    width: 100%;
    display: flex;
    margin-top: 30px;
    position: relative;
}

.feature_list_left {
    margin-left: 20px;
}

a.feature_list_header {
    font-size: 20px;
    color: rgb(230, 149, 0);
    text-decoration: none;
}

p.feature_list_content {
    margin-top: 15px;
    font-size: 0.9rem;

}

.feature_line {
    height: 90px;
    
    border-left: 2px solid white;
    position: absolute;
    top: 17px;
    left: 6px;
}

.feature_list_right .circle1 {
    background-color: white;
}

.feature_list_right .circle {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    border: 2px solid white;
    margin-top: 4px;
}

.feature_list_header:hover {
    color: rgb(255, 177, 31);
}

.feature_list:hover .circle{
    background-color: white;
}

/* end of features */





/* System Requirements */

.requirements {
    max-width: 100vw;
    min-height: 100vh;

    background-image: url(assets/requirements.png);
    background-position: center;
    background-size: cover;

    box-shadow: inset 650px -130px 200px black;
    padding: 100px;
    /* box-sizing: border-box; */
}

.requirements .requirements_header {
    display: flex;
    padding-top: 50px;
}

.requirements .requirements_header h2 {
    max-width: 500px;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: clamp(2rem, 10vw, 3rem);
}

.requirements .requirements_header span {
    font-size: 15px;
    margin-left: 30px;
}

/* Requirements Table */

.requirements_table {
    margin-top: 100px;
}

table {
    border-collapse: collapse;
}

.requirements_table td {
    width: 250px;
    padding: 10px;
    border: 1px solid rgb(61, 61, 61);
}

.requirements_table tr td h3 {
    font-weight: normal;
    font-size: 1.2rem;
    color: rgb(214, 139, 0);
    margin-bottom: 10px;
}

.requirements_table tr td p {
    margin-bottom: 20px;
}

/* end of requirements Table */

/* end of system requirements */





/* Top Scores */

.top_scores {
    max-width: 100vw;
    height: 100vh;

    background-image: url(assets/top-score-bg.png);
    background-position: center;
    background-size: cover;

    box-shadow: inset 0px 0px 300px black;    
}

.top_scores_container {
    max-width: 100%;
    min-height: 100%;

    background-color: rgba(0, 0, 0, 0.89);

    display: flex;
    justify-content: space-around;
}

.top_scores_left {
    height: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
}

.top_scores_left h2 {
    font-weight: normal;
    font-size: clamp(2rem, 10vw, 3rem);
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.top_scores_left p {
    width: 320px;
}

a.top_scores_btn {
    text-decoration: none;
    width: fit-content;
    color: black;
    font-weight: bold;
    font-size: 13px;

    background-color: rgb(255, 187, 0);
    padding: 1rem 4.5rem;
    border-radius: 3px;
    margin-top: 40px;
}

.top_scores_right {
    height: 100%;
    width: 40%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* card settings */
.card {
    width: 58%;
    min-width: 250px;
    min-height: 120px;

    background-color: rgb(39, 39, 39);
    border-radius: 7px;
    padding: 10px;
    margin: 20px;
}

.card_header {
    width: 100%;
    display: flex;
    padding-bottom: 5px;
}

.card_header .profilepic {
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 100px;
    position: relative;
    left: 7px;
    top: 7px;
}

.card_header .profile_image {
    position: relative;
    bottom: 5px;
    right: 5px;

    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
}

.card_identity {
    width: 80%;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.identity_name {
    font-size: 1.2rem;
    color: orange;
}

.identity_status {
    font-size: 0.8rem;
    color: rgb(121, 121, 121);
}

a.twitter {
    position: relative;
    right: 2px;
    top: 2px;
}

.card_content {
    font-size: 0.9rem;
    margin-top: 20px;

    max-width: 90%;
}

.card_footer {
    padding-top: 15px;
    font-size: 0.7rem;
    color: rgb(121, 121, 121);
}

 
.profile1 {
    background: url(assets/profile1.jpeg);
}
.profile2 {
    background: url(assets/profile2.jfif);
}
.profile3 {
    background: url(assets/profile3.jfif);
}


/* for card position */
.card1 {
    margin-left: 150px;
}

.card3 {
    margin-left: 130px;
}

/* end of card settings */

/* end of top scores */





/* footer */

footer {
    max-width: 100vw;
    min-height: 100vh;

    background-image: url(assets/footer-bg.png);
    background-position: center;
    background-size: cover;

    box-shadow: inset 0 50px 100px black;
}

.footerbox {
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* footer top */

.footer_top {
    min-height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer_top_left img {
    width: 85%;
}

.footer_top_right {
    width: 40%;
    min-width: 550px;
}

p.footer_phead {
    max-width: 200px;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.footer_top_right h2 {
    font-weight: normal;
    letter-spacing: 2px;
    font-size: clamp(2rem, 10vw, 3rem);
    margin-bottom: 20px;
}

.footer_subs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.for_email {
    width: 50%;
    padding: 5px 15px;
    background-color: rgb(39, 39, 39);
    border-radius: 3px;
}

.for_email p{
    font-size: 0.85rem;
    color: rgb(131, 131, 131);
    padding-bottom: 3px;
}

.for_email input {
    max-width: 250px;
    background-color: transparent;
    border: none;
    color: rgb(255, 187, 0);
    font-size: 1rem;
    padding-bottom: 3px;
}

.for_email input:focus {
    outline: none;
}

.for_subsbtn {
    background-color: rgb(255, 187, 0);
    padding: 1rem 4.5rem;
    border-radius: 3px;
}

.for_subsbtn a.subsbtn {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 13px;

    background-color: rgb(255, 187, 0);
}

/* footer bot */

.footer_bot {
    min-height: 20%;
}

.footer_bot hr {
    height: 0.1px;
    background-color: rgb(131, 131, 131);
    border: none;
}

/* bot upper */
.bot_upper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 40px;
}

ul.footernav {
    margin-right: 50px;
}

ul.footerlist {
    display: flex;
    list-style: none;
    align-items: center;
}

ul.footernav li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 5px;
    margin: 0 25px;
    font-size: 0.9rem;
}

ul.footernav li a:hover {
    color: rgb(207, 135, 0);
    text-decoration: underline;
}

ul.social_media li a img {
    margin-left: 40px;
}

/* bot down */
.bot_down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.bot_down span {
    font-size: 0.85rem;
    color: rgb(131, 131, 131);
}

.bot_down p {
    font-size: 0.9rem;
    font-weight: bold;
}

/* end of footer */





/* Responsive breakpoint */

/* phone portrait */
@media screen and (max-width: 1000px){

    .root {
        max-width: 100vw;
        overflow: hidden;
    }



    /* main screen */
    .main_screen {
        height: auto;
    }

    nav {
        max-width: 100%;
        padding: 2em 2em;
    }

    span.logo {
        margin-right: 0;
    }

    .nav_leftside ul li, .nav_rightside .sign {
        display: none;
    }

    nav img {
        display: block;
        width: 30px;
        margin: 0;
        filter: invert(100);
    }

    /* Nav toggle */
    .nav_option {
        width: 60vw;
        height: 120vh;
        position: fixed;
        top: -10px;
        right: -1000px;
        z-index: 100;

        background-color: rgb(0, 0, 0);
        box-shadow: -30px 0px 20px black;

        transition: 0.5s;
    }

    .nav_option_expand {
        width: 60vw;
        height: 120vh;
        position: fixed;
        top: -10px;
        right: 0px;
        z-index: 100;

        background-color: rgb(0, 0, 0);
        box-shadow: -30px 0px 20px black;

        transition: 0.5s;
    }

    .exitham {
        font-size: 2rem;
        text-align: end;
        padding-top: 20px;
        padding-right: 15px;
    }

    .option_con {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        margin-top: 50px;
    }

    .option_con ul li {
        list-style: none;
        padding: 20px 50px;
        border-top: 1px solid rgba(255, 255, 255, 0.664);
    }

    .option_con ul li.firstchild {
        border-top: none;
    }

    .sign_log {
        margin-top: 50px;
        
    }

    .sign_log a {
        margin: 5px;
        padding: 20px;
    }

    .option_con a {
        text-decoration: none;
        color: white;
    }
    /* end of nav toogle */

    .main_content h1 {
        margin: 50px auto 0;
    }

    a.mainbutton {
        margin-top: 50px;
    }

    a.the_story {
        margin-top: 100px;
    }





    /* game choice */
    .game_choice {
        flex-direction: column;
    }

    .the_game {
        width: 100vw;
        text-align: center;
        margin: 0;
        margin-bottom: 50px;
    }

    .choices {
        width: 100vw;
        justify-content: center;
    }





    /* features */

    .features_content {
        width: 90%;
        margin: auto;
    }





    /* requirements */
    .requirements {
        padding: 0 20px;
    }

    .requirements_header {
        flex-wrap: wrap;
    }

    .requirements_header span {
        margin: 0;
        margin-top: 20px;
    }





    /* top scores */

    .top_scores {
        height: auto;
    }

    .top_scores_container {
        height: auto;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .top_scores_left {
        width: 100%;
        height: auto;
        margin: auto;
        text-align: center;
    }

    .top_scores .top_scores_left p {
        margin: auto;
    }

    .top_scores .top_scores_left a {
        margin: 20px auto;
    }

    .top_scores_right {
        width: 100%;
        height: auto;
    }

    .card1 {
        margin: auto;
    }

    .card2 {
        margin: auto;
    }
    
    .card3 {
        margin: auto;
    }
    
    .card {
        width: 80%;
        height: auto;
        margin: 10px auto;
    }





    /* footer */
    footer {
        height: auto;
    }

    .footerbox {
        height: auto;
    }

    .footerbox .footer_top {
        flex-direction: column;
    }

    .footer_top_left {
        width: 50%;
        margin: 50px auto 0;
    }

    .footer_top_right {
        max-width: 100%;
    }

    p.footer_phead {
        max-width: 300px;
        margin: 0 auto 20px;
    }

    .footer_top_right h2 {
        text-align: center;
    }

    .footer_top_right .footer_top_desc {
        max-width: 300px;
        margin: auto;
        text-align: center;
    }

    .footer_subs {
        flex-direction: column;
    }

    .for_subsbtn {
        padding: 5px;
        margin: 20px 0 20px;
    }

    .footer_bot .bot_upper {
        margin: 20px 0 10px;
    }

    .footer_bot .bot_upper ul.footernav {
        display: none;
    }

    .footer_bot .bot_down {
        flex-wrap: wrap;
        text-align: center;
    }

    .footer_bot .bot_down span {
        order: 2;
        margin: 20px auto;
    }

    .footer_bot .bot_down p {
        order: 1;
    }


}